<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busreservation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusReservation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DogRecommend"
            android:exported="false" />
        <activity
            android:name=".DogRegistrationThree"
            android:exported="false" />
        <activity
            android:name=".DogRegistrationTwo"
            android:exported="false" />
        <activity
            android:name=".DogRegistrationOne"
            android:exported="false" />
        <activity
            android:name=".DogTotalMoney"
            android:exported="false" />
        <activity
            android:name=".DogHeart"
            android:exported="false" />
        <activity
            android:name=".DogWeight"
            android:exported="false" />
        <activity
            android:name=".DogShower"
            android:exported="false" />
        <activity
            android:name=".DogMap"
            android:exported="false" />
        <activity
            android:name=".DogInfo"
            android:exported="false" />
        <activity
            android:name=".DogAdd"
            android:exported="false" />
        <activity
            android:name=".DogPage"
            android:exported="false" />
        <activity
            android:name=".Destination"
            android:exported="false" />
        <activity
            android:name=".Departure"
            android:exported="false" />
        <activity
            android:name=".Find_Path"
            android:exported="false" />
        <activity
            android:name=".BusReservation"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Find_ID"
            android:exported="true" />
        <activity
            android:name=".Find_ID_Result"
            android:exported="true" />
        <activity
            android:name=".Find_Password"
            android:exported="true" />
        <activity
            android:name=".Find_Password_Result"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>